@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

body { 
    font-family: Montserrat, 'Open Sans', sans-serif;
}

h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
}

div{
    box-sizing: border-box;
}

button, input{
    outline: none;
}


$Black: #000000;
$ColorDestaq: #ed1941;
$White: #FFFFFF;


$Grey1: #CCCCCC;
$Grey2: #BBBBBB;
$Grey3: #5F5F5F;
$Grey4: #313131;


$light: 300;
$regular: 400;
$semiBold: 500;


.titleH1{
    font-family: 'Open Sans';
    font-size: 40px;
    font-weight: $light;
    color: $Black;
}

.titleH2{
    font-family: 'Open Sans';
    font-size: 40px;
    font-weight: $light;
    color: $Black;
    text-transform: uppercase;
}
.titleH3{
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: $regular;
    color: $Black;
    text-transform: uppercase;
}
.titleH4{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: $regular;
    color: $Black;
    text-transform: uppercase;
}
.paragraph{
    font-family: 'Montserrat';
    font-size: 18px;
    color: $Black;
}


.btnDefault{
    padding: 20px 50px;
    color: $White;
    text-transform: uppercase;
    background-color: $Black;
    border-radius: 2px;
    border: 0;
    font-weight: $semiBold;
    font-family: Montserrat;
    .btnDefault:hover{
        background-color: $ColorDestaq;
    }
}
.btnSecundary{
    padding: 20px 50px;
    color: $Black;
    text-transform: uppercase;
    background-color: $White;
    border-radius: 2px;
    border: 0;
    font-weight: $semiBold;
    font-family: Montserrat;
}

.error {
    text-align: center;
    font-size: 14px;
    color: #b80000;
    margin-bottom: 15px
}
