@import '../../../styles/base.scss';

.containerCard{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
     
    max-width: 1100px;
    padding: 40px 0;

    border-top: 1px solid $Grey2;

    //Primeira coluna
    .containerImage{
        .imageGame{
            width: 330px;
            height: 200px;
        }
    }

    // Segunda Coluna
    .containerInfo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        margin: 0 20px 0 40px;

        .headerInfo{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;

            width: 100%;

            .nameGame{
                font-family: Montserrat;
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 10px;
            }
            .typeMatch{
                font-family: Montserrat;
                font-size: 18px;
                font-weight: $regular;
                margin: 0 0 20px 0;
                text-transform: capitalize;
            }
        }

        .contentInfo{
            display: flex;
            justify-content: flex-start;
            align-items: center;

            width: 100%;

            .subTextInfo{
                font-family: Montserrat;
                font-size: 12px;
                font-weight: $regular;
            }
            .contentTextInfo{
                font-family: Montserrat;
                font-size: 16px;
                font-weight: $regular;
                margin-top: 5px;
            }

            .containerDataDuration{
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-right: 40px;

                .contentData{
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;

                    margin: 30px 0 15px 0;
                }
            }

            .containerBetPremium{
                display: flex;
                justify-content: center;
                flex-direction: column;

                .containerBet{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    margin: -30px 0 20px 0;

                    img{
                    }

                    .contentBet{
                        display: flex;
                        width: 180px;
                        justify-content: flex-start;
                        flex-direction: column;
                        margin-left: 0;
                    }
                }

                .containerPremium{
                    display: flex;
                    align-items: center;

                    img{
                        width: 35px;
                        height: 30px;
                    }

                    .contentPremium{
                        display: flex;
                        justify-content: flex-start;
                        flex-direction: column;

                        margin-left: 14px;
                    }
                }
            }
        }
    }
    
    // Terceira Coluna
    .containerWin{
        align-self: flex-start;
    }
}

@media screen and (max-width: 1024px){
    .containerCard{
        .containerImage{
            .imageGame{
                width: 280px;
            }
        }
        .containerInfo{
            margin: 0 10px 0 20px;
            .subTextInfo{
                font-size: 14px;
            }
            .contentTextInfo{
            }
            .headerInfo{
                .nameGame{
                    font-size: 20px
                }
                .typeMatch{
                    font-size: 16px;
                }
            }
            .contentInfo{
                .containerDataDuration{
                }
                .containerBetPremium{
                }
            }
        }
        .containerWin{
            margin: 0px 10px;
        }
    }
}

@media screen and (max-width: 768px){
    .containerCard{
        flex-direction: column;
        .containerImage{
            .imageGame{
            }
        }
        .containerInfo{
            width: 280px;
            margin: 20px 0 0 0;
            .subTextInfo{
            }
            .contentTextInfo{
            }
            .headerInfo{
                .nameGame{
                }
                .typeMatch{
                }
            }
            .contentInfo{
                .containerDataDuration{
                }
                .containerBetPremium{
                }
            }
        }
        .containerWin{
            margin: 0;
        }
    }
}